<!DOCTYPE html>
@using Microsoft.AspNetCore.Identity
@using BugTrack.Areas.Identity.Data

@inject SignInManager<BugUser> SignInManager
@inject UserManager<BugUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BugTrack</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Custom.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BugTrack.styles.css" asp-append-version="true" />
</head>
<body style="height: 100vh;">
    <div class="d-flex flex-row" style="height: 100vh; width: 100vw;">
        <div class="d-flex flex-column flex-shrink box-shadow border border-1" style="width: 200px;">
            <div class="nav nav-pills flex-column mb-auto ps-3 pt-2">
                @if (SignInManager.IsSignedIn(User))
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BugTrack</a>
                    <div class="nav-item ">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Profiles" asp-action="MyProfile">My Profile</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link text-dark" asp-area"" asp-controller="IssueReports" asp-action="MyIssues">My IssueReports</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="IssueReports" asp-action="Index">Issues</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Profiles" asp-action="Index">Find BugUsers</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </div>
                }
                else
                {
                   <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BugTrack</a>
                    <div class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </div> 
                }
            </div>
        </div>
        <div class="flex-grow-1">
            <div class="d-flex flex-row">
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="max-width: 50%; border-radius: 0px 0px 100px 0px;">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <div class="nav-item">
                            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                            </form>
                        </div>
                        <div class="nav-item">
                            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @user.FirstName!</a>
                        </div>
                    }
                    else
                    {
                        <div class="nav-item">
                            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                        </div>
                    }
                    <div class="nav-item nav-link" style="width: 50px;">

                    </div>
                </nav>
            </div>
            <div>
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

            <footer class="border-top footer text-muted">
                <div class="container">
                    &copy; 2023 - BugTrack - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
